:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-bcg-color:#F5F4FA;

}
.page {
    background-color: var(--primary-white-color) ;
    color:  var(--primary-text-color);
}
ul {
    list-style: none;
}
.section-title{
    color: var(--title-text-color);
}
/* logo */
.logo {
    color: var(--title-text-color);
}
.part-web-logo {
    color: var(--accent-color);
}
/* site nav */
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--accent-color);
}
/* auth-nav */
.auth-nav .link {
    color: var(--primary-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color)
}

/* hero */
.hero {
    background-color: #2F303A;
}
.hero-title {
    color: var(--primary-white-color);
}
.hero-button {
    color: var(--primary-white-color);
    background: var(--accent-color);
}

/* Features */
.features .title {
    color: var(--title-text-color);
}

/* Team */
.section-team {
    background-color: var(--secondary-bcg-color);
}
.team {
    background-color: var(--primary-white-color);
}
.team .title {
    color: var(--title-text-color);
}

/* Footer */
.footer {
    background-color: #2F303A;
}
.footer-logo {
    color: var(--primary-white-color);
}
.footer .part-web-logo {
    color: var(--accent-color);
}
.adress .postal {
    color: var(--primary-white-color);
}
.adress .email {
    color: rgba(255, 255, 255, 0.6);
}
.adress .tel {
   color: rgba(255, 255, 255, 0.6);
}



/* Портфолио */
.fields .button {
    color: var(--title-text-color);
    background-color: var(--secondary-bcg-color);
}
.fields .button:hover,
.fields .button:focus{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
 .project-list .title {
     color:  var(--title-text-color);
 }



/* Цвет основного текста #212121 */
/* Цвет выделений #2196F3 */
/* цвет текста героя #FFFFFF */
/* Цвет фона вторичный  #2F303A; */
/* Цвет фона Наша команда #F5F4F */
/* цвет параграфов в преимуществах #2F303A */
/* Цвет фона кнопок #3F5F4FA */
